.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #d2ffae;
  border-bottom-color: #3cff00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  .loader-parent{
  display: flex;
  justify-content: center;
  
  }

  .user-card{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }

  .profile-input{
    width: 450px;
    height: 45px;
  }

  /* Poonam Chauhan 
  how to build good resume and what are valid point to mention
query has to assign : Poonam Chauhan
  */